/CustomerDB/nbproject/private/
/WebServicesTest/nbproject/private/
/CustomerDB/build/
/CustomerDB/dist/
/WebServicesTest/build/
/WebServicesTest/dist/
/WebServicesJavascriptTest/nbproject/private/
/WebServicesJavascriptTest/build/
/WebServicesJavascriptTest/dist/
/DeliciousClient/nbproject/private/
/Exercise3/DeliciousService/nbproject/private/
/Exercise1/WebServicesJavascriptTest/nbproject/private/
/Exercise1/WebServicesJavascriptTest/build/
/Exercise1/CustomerDB/nbproject/private/
/Exercise1/WebServicesTest/nbproject/private/
/Exercise1/CustomerDB/build/
/Exercise1/CustomerDB/dist/
/Exercise1/WebServicesTest/build/
/Exercise1/WebServicesTest/dist/
/Exercise1/WebServicesJSTest/nbproject/private/
/Exercise1/WebServicesJSTest/build/
/Exercise1/WebServicesJSTest/dist/
/Exercise2/TempuratureBean/nbproject/private/
/Exercise2/TemperatureService/nbproject/private/
/Exercise2/TemperatureService/build/
/Exercise2/TemperatureClient/nbproject/private/
/Exercise2/TemperatureJSClient/nbproject/private/
/Exercise2/TemperatureService/dist/
/Exercise2/TemperatureJSClient/build/
/Exercise3/DeliciousClient/build/