<!DOCTYPE html>
<html>
    <head>
        <title>Exercise 1 - SOEN487 Assignment 2</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="css/main.css" type="text/css">
        <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js'></script>
        <script src='RestClient.js'></script>
    </head>
    <body>
        <div id='header'></div>

        <h3>Customers</h3>
        <div id='customers'></div>
        
        <h3>Discount Codes</h3>
        <div id='discounts'></div>

        <div id='content'></div>


        <!-- Templates -->
        <script type='text/template' id='tpl-customer-list-item'>
            <td><%= customerId %></td>
            <td><%= discountCode %></td>
            <td><%= name %></td>
            <td><%= addressline1 %> <%= addressline2 %></td>
            <td><%= city %></td>
            <td><%= state %></td>
            <td><%= zip %></td>
            <td><%= phone %></td>
            <td><%= fax %></td>
            <td><%= email %></td>            
        </script>
        
        <script type='text/template' id='tpl-discountcode-list-item'>
            <td><%= discountCode %></td>  
            <td><%= rate %></td>                       
        </script>
    </body>
</html>
